<div class="css-jli6pn">
    
    <div class="chart">
        <TradingViewComponent />
    </div>
    <div class="trade">
        <div class="css-0">
            <div class="css-1e4hs4u">
                <div class="css-1xibl81">
                    <div class="switcher_wrapper">
                        <button class="switcher_item buy @(currentTab==0?"active":"")" @onclick="()=>SwitchTab(0)">Buy</button>
                        <button class="switcher_item sell @(currentTab==1?"active":"")" @onclick="()=>SwitchTab(1)">Sell</button>
                        <button class="switcher_item convert @(currentTab==2?"active":"")" @onclick="()=>SwitchTab(2)">Convert</button>
                    </div>
                </div>
                <div class="@(currentTab==0?"":"hidden")">
                <BuyTradeComponent user="user" />
                </div>
                <div class="@(currentTab==1?"":"hidden")">
                    <SellTradeComponent user="user" />
                    </div>
                <div class="@(currentTab==2?"":"hidden")">
                    <ConvertTradeComponent user="user" />
                    </div>
            </div>
        </div>
    </div>
</div>
@code{
    [Parameter]
    public User? user { get; set; }
    private int currentTab = 0;


    private void SwitchTab(int tabIndex)
    {
        currentTab = tabIndex;
    }
}